<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
  <div id="root"></div>
  <!-- React -->
  <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
  <!-- JSX (Bebel) -->
  <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

  <script type="text/babel" src="{% static 'app/FieldSide.js' %}"></script>
  <script type="text/babel" src="{% static 'app/FieldMain.js' %}"></script>

  <script type="text/babel" src="{% static 'app/Fields.js' %}"></script>
  
  <script type="text/babel" src="{% static 'app/MainNavbar.js' %}"></script>
  <script type="text/babel" src="{% static 'app/SideNavbar.js' %}"></script>

  <script type="text/babel" src="{% static 'app/MainContent.js' %}"></script>
  <script type="text/babel" src="{% static 'app/SideContent.js' %}"></script>

  <script type="text/babel" src="{% static 'app/Footer.js' %}"></script>

  <script type="text/babel" src="{% static 'app/index.js' %}"></script>
</body>
</html>