body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

ul {
    list-style-type: none;
}

div.row {
    padding-right: 0;
    padding-left: 0;
}

div.main {
    min-height: calc(100vh - 130px);
    width: 70%;
    margin-top: 60px;
}

div.side {
    background-color: #f7f7f7;
    height: 100vh;
    position: fixed;
    z-index: 2;
    right: 0;
    top: 60px;
    width: 30%;
    overflow-y: auto;
    padding-right: 1px;
    scrollbar-width: none;
}

footer {
    width: 100%;
    background: #000;
    color: #fff;
    padding-left: 60px;
    font-size: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.object-button {
    width: 100%;
}

.button {
    text-align: left;
    color: white;
    border: black solid 0px;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    background-color: black;
}

.content {
    width: 80%;
    margin: 0px auto;
    padding: 20px 0px;
}

nav {
    background-color: black;
    color: white;
    padding: 10px 30px;
    font-size: 20px;
    max-height: 60px;
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
}

.nav-link {
    color: white;
    margin: auto 5px;
    box-sizing: border-box;
}

.brand {
    font-size: 30px;
    margin: auto 10px;
    box-sizing: border-box;
}

.title {
    font-size: 40px;
    font-weight: bold;
    display: inline-block;
    width: 30vh;
}

.view-header {
    display: block;
}

.new-object {
    display: inline-block;
}

.buttons-bar {
    display: inline-block;
    width: 30vh;
}