{% extends 'base.html' %}

{% block main-content %}
<section class="container">
  <section class="content">
    <h1 class="title">About App</h1>
    <p class="is-size-5">
      I created this project to train my programming skills and create something useful for me!
    </p>
    <p class="pt-2 is-size-5">Find the source code here:</p>
    <b><a href="https://github.com/Anonymous-fox/skills-garden" class="is-size-5" target="_blank" rel="noopener" noreferrer>GitHub repository</a></b>
    <h2>Technologies used</h2>
    <h3>Backend</h3>
    <ul>
      <li>Django</li>
      <li>django-rest-framework</li>
    </ul>
    <h3>Frontend</h3>
    <ul>
      <li>Bulma</li>
    </ul>
  </section>
  <section class="content pt-6">
    <h1 class="title">About me</h1>
    <p class='is-size-5'>
      I am self learner intrested in backend technologies!
    </p>
    <h2>Find me</h2>
    <b><a href="https://github.com/Anonymous-fox" class="is-size-5" target="_blank" rel="noopener" noreferrer>My GitHub Account</a></b>
  </section>  
</section>

{% endblock %}
