<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  {% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} | Skills Garden</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>
  <body>
  {% include 'components/_navbar.html' %}
  <section class="section main">
    {% block main-content %}
    {% endblock %}
  </section>
  {% include 'components/_footer.html' %}
  <script src="{% static 'scripts/nav.js' %}"></script>
  {% block scripts %}
  {% endblock %}
  </body>
</html>